@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto", sans-serif;
}

.Toastify__toast--success {
  background: #198754 !important; /* Bootstrap green */
  color: #fff;
}

.Toastify__toast--error {
  background: #dc3545 !important; /* Bootstrap red */
  color: #fff;
}
