@use 'sass:color';

$homeColor : #222222;

$myColor: red;

h1 {
    color: $myColor;
}

h2 {
    color: color.adjust($myColor, $lightness: -20%);
}

h3 {
    color:color.adjust($myColor, $lightness:20%)
}